<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Zinto</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ asset_url }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ asset_url }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ css_url }}sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
          <p>{{ feedback|default("Enter your email address and a new password will be mailed to you.")|raw}}</p>
        </div>
        <form method="post">
          <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" name="email" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password">
        </form>
        <div class="text-center" style="margin-top:15px;">
          <a class="d-block small" href="{{base_url}}user/login">Login Page</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset_url }}jquery/jquery.min.js"></script>
  <script src="{{ asset_url }}bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="{{ asset_url }}jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
