<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
fav    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Wayne Oliver">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ico_url}}apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ico_url}}apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ico_url}}apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ico_url}}apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ico_url}}apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ico_url}}apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ico_url}}apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ico_url}}apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ico_url}}apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ico_url}}android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/{{ico_url}}avicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ico_url}}favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ico_url}}favicon-16x16.png">
	<link rel="manifest" href="{{ico_url}}manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ico_url}}ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="icon" href="{{ico_url}}favicon.ico">
	
    <title>Odin Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="{{css_url}}signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
	
      <form class="form-signin" method="post">

		<p>{{ feedback|default("&nbsp;")|raw}}</p>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="emaill" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button name="password" class="btn btn-tickit btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{js_url}}/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
